#responsiveMenu {
    z-index: 10003;
    position: fixed;
    width: 100%;
    top: 0;
}

.responsiveMenu {
    background-color: white; 
}

.responsiveMenu .option {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.responsiveMenu .option a {
    color: #a4a4a4;
    font-size: 1.2em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.responsiveMenu .option a:hover {
    color: #d44e4e;
    text-decoration: overline;
}

#responsiveMenu .panel-group {
    margin-bottom: 0px;
}

#responsiveMenu .panel-default {
    border: 0px;
}

#responsiveMenu .panel-default:hover .panel-heading .menu-title-container .menu-title {
    color: #616161;
}

#responsiveMenu .panel-default > .panel-heading.collapsed:hover .menu-title-container .menu-title-arrow {
    display: block;
    transform: rotate(0deg);
}

#responsiveMenu .panel-default > .panel-heading {
    height: 60px;
    transition: all 0.5s;
    background-color: white;
    padding: 0;
}

#responsiveMenu .panel-default > .panel-heading:hover {
    transition: all 0.5s;
    background-color: #f6f6f6;
    cursor: pointer;
}

#responsiveMenu .panel-default > .panel-heading .menu-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 0px;
    border-bottom: 1px solid #c6c6c6;
}

#responsiveMenu .panel-default > .panel-heading .menu-title-container .menu-title-arrow {
    position: absolute;
    top: 42px;
    display: none;
}

#responsiveMenu .panel-default > .panel-heading .menu-title-container:hover .menu-title {
    color: #616161;
}

#responsiveMenu .panel-default > .panel-heading .menu-title-container:hover .menu-title-arrow {
    display: block;
    transform: rotate(180deg);
}

#responsiveMenu .panel-default > .panel-heading .menu-title {
    -webkit-user-select: none;
   /* Safari */
    -moz-user-select: none;
   /* Firefox */
    -ms-user-select: none;
   /* IE10+/Edge */
    user-select: none;
   /* Standard */
    font-weight: bold;
    font-size: 14px;
    color: #a4a4a4;
}

#responsiveMenu .panel-body {
    text-align: center;
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.5s;
}

#responsiveMenu .panel-body div {
    font-size: 12px;
}

#responsiveMenu .panel-body:hover {
    transition: all 0.5s;
    background-color: #f6f6f6;
    cursor: pointer;
}

#responsiveMenu .panel-body:hover div {
    color: #616161;
}

#responsiveMenu a {
    color: #a4a4a4;
    font-size: 1.4em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
    #responsiveMenu .panel-group { 
        display: none; 
    }  
} 