.content4 {
    height: 100vh;
    width: 100%;
    background: #F0F0F0;
    z-index: 1;
    position: relative;
}

.content4-title-parent-container {
    position: relative;
    height: 150px;
}

.content4-title-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: LemonMilk;
}

.content4-small-title {
    color: #cbbfbf;
    font-size: 26px;
}

.content4-big-title {
    color: #6c656f; 
    font-size: 80px;
}

.experience-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.experience-parent-container {
    width: 100%;
    position: relative;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: LemonMilk;
    position: absolute;
}

.experience-years-icon-container {
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.experience-years-icon {
    width: 48px;
    height: 48px;
}

.experience-seperator {
    width: 3px;
    background: #cbbfbf2b;
    height: 150px;
    margin: 0px 20px;
    display: none;
}

.experience-flag-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.experience-flag {
    width: 52px;
    height: 40px;
    margin: 5px;
}

.experience-industry-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experience-industry-icons-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.experience-industry-icon-container {
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-industry-icon-container .industry-icon {
    height: 48px;
    width: 48px;
    position: absolute;
}

.experience-industry-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: LemonMilk;
    flex-direction: column;
    align-items: center;
}

.experience-industry-text {
    color: #6c656f;
    font-size: 24px;
    font-weight: bold;
}

.experience-section-title {
    color: #6c656f; 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center;
}

.experience-section-subtitle {
    color: #cbbfc3; 
    font-size: 18px; 
    text-align: center;
}

.experience-industry-name-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.experience-industry-name-text {
    position: absolute;
    opacity: 0;
    color: #cbbfc3;
    font-size: 12px;
}

#experience-container-parent1 {
    opacity: 1;
    width: 100%;
}

#experience-container-parent2 {
    opacity: 0;
}

#imtristan {
    position: absolute;
    animation: imtristan-fadein 2s;
}

#experience {
    animation: experience-fadein 4s;
}

#experience-container1 {
    animation: experience-container-fadein 6s;
}

#experience-container2 {
    animation: experience-container-fadein 6s;
}

#countries {
    animation: countries-fadein 8s;
}

.content4-padding1 {
    height: 25vh;
}

.content4-padding2 {
    height: 10vh;
}

.content4-padding3 {
    height: 25vh;
}

@keyframes imtristan-fadein {
    0% {
        opacity: 0;
        transform: translate(0px, -100px);
        -webkit-transform: translate(0px, -100px);
        -moz-transform: translate(0px, -100px);
        -ms-transform: translate(0px, -100px);
        -o-transform: translate(0px, -100px);
    }    
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
}

@keyframes experience-fadein {
    50% {
        opacity: 0;
        transform: translate(0px, -100px);
        -webkit-transform: translate(0px, -100px);
        -moz-transform: translate(0px, -100px);
        -ms-transform: translate(0px, -100px);
        -o-transform: translate(0px, -100px);
    }    
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
}

@keyframes experience-container-fadein {
    66% {
        opacity: 0;
        transform: translate(0px, -100px);
        -webkit-transform: translate(0px, -100px);
        -moz-transform: translate(0px, -100px);
        -ms-transform: translate(0px, -100px);
        -o-transform: translate(0px, -100px);
    }    
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
}

@keyframes countries-fadein {
    75% {
        opacity: 0;
        transform: translate(0px, -100px);
        -webkit-transform: translate(0px, -100px);
        -moz-transform: translate(0px, -100px);
        -ms-transform: translate(0px, -100px);
        -o-transform: translate(0px, -100px);
    }    
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
}

@media only screen and (max-width: 1000px) {
    .experience-seperator {
        display: unset;
    }

    #experience-container-parent1 {
        opacity: 0;
        width: 0px;
    }

    #experience-container-parent2 {
        opacity: 1;
    }

    .content4-padding1 {
        height: 15vh;
    }

    .content4-padding2 {
        height: 5vh;
    }
    
    .content4-padding3 {
        height: 0vh;
    }

    .content4-small-title {
        font-size: 22px;
    }

    .content4-big-title {
        font-size: 62px;
    }
}

@media only screen and (max-width: 600px) {
    .content4-small-title {
        font-size: 18px;
    }

    .content4-big-title {
        font-size: 48px;
    }

    .experience-section-title {
        font-size: 20px; 
    }
    
    .experience-section-subtitle {
        font-size: 14px; 
    }

    .experience-flag {
        width: 42px;
        height: 32px;
    }

    .experience-flag-container {
        margin-top: 15px;
    }

    .experience-years-icon-container {
        margin-bottom: 15px;
    }

    .experience-industry-text {
        font-size: 18px;
    }

    .experience-industry-icon-container {
        width: 60px;
        height: 50px;
    }

    .experience-industry-icon-container .industry-icon {
        height: 32px;
        width: 32px;
    }

    .experience-seperator {
        height: 120px;
    }

    .content4-padding1 {
        height: 20vh;
    }

    .content4-padding2 {
        height: 0vh;
    }
} 
