.content2 {
    height: 100vh;
    width: 100%;
    background: #F0F0F0;
}

.content2-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content2-container {
    width: 100%;
    height: 800px;
    background: grey;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.content2-container:hover .image-section-link {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.content2-container-header-top {
    width: 100%;
    height: 80px;
    top: 0px;
    background: #00000073;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content2-container-description {
    width: 100%;
    bottom: 0px;
    background: #00000099;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 180px;
    color: white;
    padding: 20px;
    font-family: LemonMilk;
    font-size: 18px;
    z-index: 1;
    flex-direction: column;
}

.ux-case {
    width: 100%;
    position: absolute;
}

.digital-art {
    height: 600px;
    bottom: 0px;
    position: absolute;
    left: -300px;
}

.gradient-fade {
    width: 100%;
    height: 515px;
    background-image: url('/assets/gradientfade.png');
    background-repeat: repeat;
    bottom: 0px;
    position: absolute;
}

h2 {
    font-family: LemonMilk;
}

h3 {
    font-family: LemonMilk;
    margin-top: 20px;
    margin-bottom: 20px;
}

.movement-arrow {
    height: 29px;
    width: 57px;
    position: absolute;
    bottom: 75px;
    z-index: 1000;
    transition: all .2s ease-in-out;
    opacity: 0.2;
    cursor: pointer;
}

.movement-arrow:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.under-construction {
    width: 100%;
    height: 80px;
    bottom: 0px;
    background: #000000a1;
    z-index: 3;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.particle-container {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.title-pop {
    animation: title-pop-animation 0.8s;
}

.image-banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.93;
}

.image-banner-triangles {
    width: 100%;
    height: 11px;
    background-image: url(/assets/footerTriangleGrey.png);
    background-repeat: repeat;
    transform: rotate(180deg);
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.image-banner-text {
    max-width: 300px;
    position: absolute; 
    z-index: 1;
}

.product-delivery-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: #44c0b5;
}

.product-delivery-circle {
    height: 180px;
    width: 180px;
    display: flex;
    border-radius: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid #44c0b5;
    margin: 0px 20px;
}

.product-delivery-text {
    font-size: 14px;
}

.product-delivery-value {
    font-size: 40px;
}

.ux-use-case-menu {
    display: none;
}

.toolkit-icon {
    height: 50px;
    width: 50px;
    background: red;
    margin: 10px;
}

@keyframes title-pop-animation {
    0% {
        transform: scale(1);
    }    
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@font-face { 
    font-family: LemonMilk; 
    src: url('/assets/LEMONMILK-Regular.otf') format("opentype"); 
} 

@media only screen and (max-width: 1200px) {
    body {
        padding-top: 60px;
    }

    .ux-use-case-menu {
        display: unset;
    }
} 

@media only screen and (max-width: 1000px) {
    .content2 {
        height: 100%;
    }

    .content2-main {
        flex-direction: column;
        height: 100%;
        padding-bottom: 50px;
    }

    .content2-container {
        height: 500px;
    }

    .content2-container-description { 
        height: 140px
    }
} 

@media only screen and (max-width: 800px) {
    .image-banner {
        height: 200px;
    }

    .product-delivery-circle {
        height: 150px;
        width: 150px;
        border: 8px solid #44c0b5;
        margin: 0px 5px;
    }

    .product-delivery-value {
        font-size: 30px;
    }

    .content2-container {
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {

    .product-delivery-circle {
        height: 110px;
        width: 110px;
        border: 7px solid #44c0b5;
    }

    .product-delivery-value {
        font-size: 20px;
    }

    .product-delivery-text {
        font-size: 12px;
    }

    .ux-case {
        height: 400px;
        width: unset; 
    }
} 

@media only screen and (max-width: 500px) {
    .air-quote {
        width: 380px;
    }
} 

@media only screen and (max-width: 400px) {
    .air-quote {
        width: 300px;
        padding: 15px;
    }
} 