.content4 {
    height: 100vh;
    width: 100%;
    background: #F0F0F0;
    z-index: 1;
    position: relative;
}

.content4-title-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: LemonMilk;
}

.content4-small-title {
    color: #cbbfbf;
    font-size: 26px;
}

.content4-big-title {
    color: #6c656f; 
    font-size: 80px;
}

.experience-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.experience-parent-container {
    width: 100%;
}

.experience-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: LemonMilk;
}

.experience-years-icon-container {
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.experience-years-icon {
    width: 48px;
    height: 48px;
}

.experience-seperator {
    width: 3px;
    background: #cbbfbf4a;
    height: 150px;
    margin: 0px 20px;
}

.experience-flag-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.experience-flag {
    width: 52px;
    height: 40px;
    margin: 5px;
}

.experience-industry-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experience-industry-icons-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.experience-industry-icon-container {
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-industry-icon-container .industry-icon {
    height: 48px;
    width: 48px;
}

.experience-industry-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: LemonMilk;
}

.experience-industry-text {
    color: #6c656f;
    font-size: 24px;
    font-weight: bold;
}

.experience-section-title {
    color: #6c656f; 
    font-size: 24px; 
    font-weight: bold; 
}

.experience-section-subtitle {
    color: #cbbfc3; 
    font-size: 18px; 
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .content4-small-title {
        font-size: 18px;
    }

    .content4-big-title {
        font-size: 48px;
    }

    .experience-section-title {
        font-size: 20px; 
    }
    
    .experience-section-subtitle {
        font-size: 14px; 
    }

    .experience-flag {
        width: 42px;
        height: 32px;
    }

    .experience-flag-container {
        padding-top: 15px;
    }

    .experience-years-icon-container {
        padding-bottom: 15px;
    }

    .experience-industry-text {
        font-size: 18px;
    }

    .experience-industry-icon-container {
        width: 60px;
        height: 50px;
    }

    .experience-industry-icon-container .industry-icon {
        height: 32px;
        width: 32px;
    }

    .experience-seperator {
        height: 120px;
    }
} 
