/* Transforms */

.industry-icon.industry-icon1 {
    animation: industry-icon-animation-1 10s infinite;
}

.industry-icon.industry-icon2 {
    animation: industry-icon-animation-2 10s infinite;
}

.industry-icon.industry-icon3 {
    animation: industry-icon-animation-3 10s infinite;
}

.industry-icon.industry-icon4 {
    animation: industry-icon-animation-4 10s infinite;
}

.industry-icon.industry-icon5 {
    animation: industry-icon-animation-5 10s infinite;
}

/* Fades 1 */

.industry-icon.industry-icon-set1-fade1 {
    animation: industry-icon-fade-animation-set1-1 10s infinite;
}

.industry-icon.industry-icon-set1-fade2 {
    animation: industry-icon-fade-animation-set1-2 10s infinite;
}

.industry-icon.industry-icon-set1-fade3 {
    animation: industry-icon-fade-animation-set1-3 10s infinite;
}

.industry-icon.industry-icon-set1-fade4 {
    animation: industry-icon-fade-animation-set1-4 10s infinite;
}

.industry-icon.industry-icon-set1-fade5 {
    animation: industry-icon-fade-animation-set1-5 10s infinite;
}

/* Fades 2 */

.industry-icon.industry-icon-set2-fade1 {
    animation: industry-icon-fade-animation-set1-1 10s infinite;
}

.industry-icon.industry-icon-set2-fade2 {
    animation: industry-icon-fade-animation-set1-2 10s infinite;
}

.industry-icon.industry-icon-set2-fade3 {
    animation: industry-icon-fade-animation-set1-3 10s infinite;
}

.industry-icon.industry-icon-set2-fade4 {
    animation: industry-icon-fade-animation-set1-4 10s infinite;
}

.industry-icon.industry-icon-set2-fade5 {
    animation: industry-icon-fade-animation-set1-5 10s infinite;
}

/* Text Fades */

.industry-icon-text-fade1 {
    animation: industry-text-fade-animation1 10s infinite;
}

.industry-icon-text-fade2 {
    animation: industry-text-fade-animation2 10s infinite;
}

.industry-icon-text-fade3 {
    animation: industry-text-fade-animation3 10s infinite;
}

.industry-icon-text-fade4 {
    animation: industry-text-fade-animation4 10s infinite;
}

.industry-icon-text-fade5 {
    animation: industry-text-fade-animation5 10s infinite;
}

/* Transform Animations */

@keyframes industry-icon-animation-1 {
    0% {
        transform: scale(1);
    }    
    5% {
        transform: scale(1.4);
    }
    10% {
        transform: scale(1.4);
    }
    15% {
        transform: scale(1);
    }
}

@keyframes industry-icon-animation-2 {
    15% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.4);
    }
    25% {
        transform: scale(1.4);
    }
    30% {
        transform: scale(1);
    }
}

@keyframes industry-icon-animation-3 {
    30% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.4);
    }
    40% {
        transform: scale(1.4);
    }
    45% {
        transform: scale(1);
    }
}

@keyframes industry-icon-animation-4 {
    45% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    55% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(1);
    }
}

@keyframes industry-icon-animation-5 {
    60% {
        transform: scale(1);
    }    
    65% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1.4);
    }
    75% {
        transform: scale(1);
    }
}

/* Fade Animations 1 */

@keyframes industry-icon-fade-animation-set1-1 {
    0% {
        opacity: 1;
    }    
    5% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
}

@keyframes industry-icon-fade-animation-set1-2 {
    15% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
}

@keyframes industry-icon-fade-animation-set1-3 {
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
}

@keyframes industry-icon-fade-animation-set1-4 {
    45% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

@keyframes industry-icon-fade-animation-set1-5 {
    60% {
        opacity: 1;
    }    
    65% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

/* Fade Animations 2 */

@keyframes industry-icon-fade-animation-set2-1 {
    0% {
        opacity: 0;
    }    
    5% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
}

@keyframes industry-icon-fade-animation-set2-2 {
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@keyframes industry-icon-fade-animation-set2-3 {
    30% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
}

@keyframes industry-icon-fade-animation-set2-4 {
    45% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@keyframes industry-icon-fade-animation-set2-5 {
    60% {
        opacity: 0;
    }    
    65% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}

/* Text Animations */

@keyframes industry-text-fade-animation1 {
    0% {
        opacity: 0;
    }    
    5% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
}

@keyframes industry-text-fade-animation2 {
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@keyframes industry-text-fade-animation3 {
    30% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
}

@keyframes industry-text-fade-animation4 {
    45% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@keyframes industry-text-fade-animation5 {
    60% {
        opacity: 0;
    }    
    65% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}