.title-container {
    width: 100%; 
    padding: 0px 50px; 
    justify-content: center; 
    display: flex; 
    flex-direction: column;   
    height: 400px;
}

.title-logo {
    width: 400px;
    position: absolute;
}

.sub-title-container {
    display: flex; 
    flex-direction: row; 
    padding-top: 50px;
}

.sub-title {
    font-size: 20px;
    margin-right: 40px;
    height: 20px;
}

.title-main-container {
    position: relative;
    height: 150px;
    display: flex;
    width: 100%;
    align-items: center;
}

.title-main-fadein {
    animation: title-main-fadein-animation 3s;
}

@keyframes title-main-fadein-animation {
    0% {
        transform: translate(0px, -100px);
        /* bottom: 100px; */
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        /* bottom: 0px; */
        opacity: 1;
    }
}

.sub-titles-fadein-1 {
    animation: sub-titles-fadein-animation-1 5s;
}

@keyframes sub-titles-fadein-animation-1 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    } 
    80% {
        opacity: 1;
    }
}

.sub-titles-fadein-2 {
    animation: sub-titles-fadein-animation-2 5s;
}

@keyframes sub-titles-fadein-animation-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    } 
    90% {
        opacity: 1;
    }
}

.sub-titles-fadein-3 {
    animation: sub-titles-fadein-animation-3 5s;
}

@keyframes sub-titles-fadein-animation-3 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {
    .title-main-container {
        align-items: center;
    }
} 

@media only screen and (max-width: 800px) {
    .title-logo {
        width: 300px;
    }

    .sub-title {
        font-size: 16px;
        height: 16px;
        margin-right: 30px;
    }

    .title-container {
        height: 300px;
    }

    .title-main-container {
        height: 80px;
    }
} 

@media only screen and (max-width: 600px) {
    .title-main-container {
        justify-content: center;
        height: 60px;
    }
   
    .title-logo {
        width: 200px;
    }

    .sub-title {
        font-size: 10px;
        height: 10px;
        margin-right: 20px;
    }

    .sub-title-container {
        justify-content: center;
    }

    .title-container {
        height: 200px;
    }
} 

@media only screen and (max-width: 500px) {
    .sub-title-container {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        align-items: center;
    }

    .sub-title {
        font-size: 14px;
        height: 14px;
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .title-container {
        height: 300px;
    }

    .title-main-container {
        height: 50px;
    }
} 