.wm-logos {
    width: 563px;
}

.ux1-workflow-container {
    display: flex; 
    width: 100%; 
    align-items: center; 
    flex-direction: column; 
    padding: 40px 0px;
}

.ux1-workflow-example {
    width: 800px;
}

.back-to-top {
    font-size: 11px;
}

.ux1-wm-mockups-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.ux1-wm-mockups-container img {
    margin: 10px;
    height: 320px;
    max-width: 547px;
}

.kaufmann {
    max-width: 400px;
}

.legeakademiet {
    max-width: 400px;
}

.wise-metrics-logos {
    width: 600px;
}

.ux-case1-section2 {
    z-index: 5; 
    position: absolute; 
    top: 0px;
    animation: ux-case1-section2-animation 1.5s;
}

@keyframes ux-case1-section2-animation {
    0% {
        transform: translate(0px, -100px);
        -webkit-transform: translate(0px, -100px);
        -moz-transform: translate(0px, -100px);
        -ms-transform: translate(0px, -100px);
        -o-transform: translate(0px, -100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .ux1-workflow-example {
        width: 700px;
        
    }
    .ux1-wm-mockups-container {
        flex-direction: column;
        align-items: center;
    }

    .ux1-wm-mockups-container img {
        height: unset;
        width: 500px;
    }
} 

@media only screen and (max-width: 800px) {
    .ux1-workflow-example {
        width: 500px;
    }

    .wise-metrics-logos {
        width: 500px;
    }

    .ux1-wm-mockups-container img {
        height: unset;
        width: 400px;
    }
} 

@media only screen and (max-width: 600px) {
    .wm-logos {
        width: 480px;
    }

    .ux1-workflow-example {
        width: 400px;
    }

    .wise-metrics-logos {
        width: 400px;
    }

    .kaufmann {
        max-width: 300px;
        height: 35px;
    }

    .legeakademiet {
        max-width: 300px;
    }

    .ux1-workflow-container {
        padding: 40px 10px;
    }
} 

@media only screen and (max-width: 500px) {
    .wm-logos {
        width: 400px;
    }
} 

@media only screen and (max-width: 400px) {
    .wm-logos {
        width: 300px;
    }

    .ux1-workflow-example {
        width: 300px;
    }

    .wise-metrics-logos {
        width: 300px;
    }

    .ux1-wm-mockups-container img {
        height: unset;
        width: 300px;
    }
} 