.wm-logos {
    width: 563px;
}

.ux1-workflow-container {
    display: flex; 
    width: 100%; 
    align-items: center; 
    flex-direction: column; 
    padding: 40px 0px;
}

.ux1-workflow-example {
    width: 1150px;
}

@media only screen and (max-width: 1200px) {
    .ux1-workflow-example {
        width: 800px;
    }
} 

@media only screen and (max-width: 1000px) {
    .ux1-workflow-example {
        width: 700px;
    }
} 

@media only screen and (max-width: 800px) {
    .ux1-workflow-example {
        width: 500px;
    }
} 

@media only screen and (max-width: 600px) {
    .wm-logos {
        width: 480px;
    }

    .ux1-workflow-example {
        width: 400px;
    }
} 